<html>

<head>
    <title>Standalone Vue Component Example</title>    
    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>

<body>
    <div id="app">
    </div>

    <div id="meta">
        <div class="image">
            <img src="./img/step1.png">
        </div>
        <div class="description">
            <p class="current-step-message">
                In this example we introduce a whole bunch of new concepts: handling user input with <b>v-on:click</b> on the button, conditional rendering for paragrapsh via <b>v-if</b>, conditional display using <b>v-show</b>, and finally loops in templates via <b>v-for</b>. Look at the source code of this page for more details. Note the difference between <b>v-if</b>, which provide a real conditional rendering, and <b>v-for</b>, which simply hides and shows the element depending on the expression's truthness.
            </p>
            <p class="current-step-message">
                You may also want to play with the data in console, or try to change the code — feel free to take care of good old <a href="https://people.csail.mit.edu/paulfitz/spanish/script.html">Monthy Python's sketch</a>. How about altering the colour of their nice uniforms?
            </p>
        </div>
    </div>

    <footer id="footer">
        Vue Examples by <a href="http://github.com/gbezyuk">gbezyuk</a>
    </footer>

    <script src="./js/vue@2.0.5.js"></script>

    <script type="text/x-template" id="root-template">
        <div id="app">

            <button v-on:click="expectations = !expectations">Change Expectations</button>            

            <p v-if="expectations">I didn't expect a kind of Spanish Inquisition.</p>
            <p v-else>Pardon?</p>
            
            <div v-show="expectations">
                <h1>{{ message }}</h1>
                
                <p>
                    Amongst our weaponry are such diverse elements as:
                </p>

                <ul>
                    <li v-for="weapon in weaponry">{{ weapon }}</li>
                </ul>
            </div>
            
        </div>
    </script>

    <script>
        var app = new Vue({
          el: '#app',
          template: '#root-template',
          data: {
            expectations: false,
            message: 'NOBODY expects the Spanish Inquisition!',
            weaponry: [
                'fear',
                'surprise',
                'ruthless efficiency',
                'an almost fanatical devotion to the Pope',
                'and nice red uniforms '
            ]
          }
        })
    </script>
</body>

</html>